<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Home page - Azure Tables Demo Application</title>
        <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="./lib/site/css/site.css" type="text/css" rel="stylesheet" />
        <style>
            .error{
                color:red;
            }
        </style>
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" id="applicationLink" href="javascript:void(0)">AzureTablesDemoApplication</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="homeLink" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="filterLink" href="./filter.html">Filter Results</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" id="filterArea">
        <div class="row g-3 mb-2 justify-content-center">
            <div class="col-md-3 fs-5 fw-bold border-bottom border-2">
                Column
            </div>
            <div class="col-md-6 fs-5 fw-bold border-bottom border-2">
                Criteria
            </div>
        </div>
    
        <div class="row g-3 mb-2 justify-content-center">
            <div class="col-md-3 fw-bold">
                Station Name (Partition Key)
            </div>
            <div class="col-md-4 offset-md-2 text-end">
                <input type="text" id="partitionKeyFilter" name="partitionKey" class="form-control" placeholder="Station name">
            </div>
        </div>
    
        <div class="row g-3 mb-2 justify-content-center">
            <div class="col-md-3 fw-bold">
                Date (Row Key)
            </div>
            <div class="col-md-2">
                Min date/time:
            </div>
            <div class="col-md-2">
                <input type="date" id="rowKeyDateStartFilter" name="rowKeyDateStart" class="form-control">
            </div>
            <div class="col-md-2">
                <input type="time" id="rowKeyTimeStartFilter" name="rowKeyTimeStart" class="form-control">
            </div>
        </div>
    
        <div class="row g-3 mb-2 justify-content-center">
            <div class="col-md-2 offset-md-3">
                Max date/time:
            </div>
            <div class="col-md-2">
                <input type="date" id="rowKeyDateEndFilter" name="rowKeyDateEnd" class="form-control">
            </div>
            <div class="col-md-2">
                <input type="time" id="rowKeyTimeEndFilter" name="rowKeyTimeEnd" class="form-control">
            </div>
        </div>
    
        <div class="row g-3 mb-2 justify-content-center">
            <div class="col-md-3 fw-bold">
                Temperature
            </div>
            <div class="col-md-2">
                Min temperature:
            </div>
            <div class="col-md-4">
                <input type="text" id="minTemperatureFilter" name="minTemperature" class="form-control" placeholder="Min temperature">
            </div>
        </div>
    
        <div class="row g-3 mb-2 justify-content-center">
            <div class="col-md-2 offset-md-3">
                Max temperature:
            </div>
            <div class="col-md-4">
                <input type="text" id="maxTemperatureFilter" name="maxTemperature" class="form-control" placeholder="Max temperature">
            </div>
        </div>
    
        <div class="row g-3 mb-2 justify-content-center">
            <div class="col-md-3 fw-bold">
                Precipitation
            </div>
            <div class="col-md-2">
                Min precipitation:
            </div>
            <div class="col-md-4">
                <input type="text" id="minPrecipitationFilter" name="minPrecipitation" class="form-control" placeholder="Min precipitation">
            </div>
        </div>
    
        <div class="row g-3 mb-2 justify-content-center">
            <div class="col-md-2 offset-md-3">
                Max precipitation:
            </div>
            <div class="col-md-4">
                <input type="text" id="maxPrecipitationFilter" name="maxPrecipitation" class="form-control" placeholder="Max precipitation">
            </div>
        </div>
    
        <div class="row g-3 mb-2 justify-content-center">
            <div class="col-md-4 offset-md-5 text-end">
                <button id="submit" class="btn btn-success" onclick="javascript:findByFilter()">Filter data</button>
            </div>
        </div>
    </div>
    <hr>
    <h3>Weather Data</h3>
    <table class="table table-sm mb-1" id="result-table">
    </table>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AzureTablesDemoApplication - <a id="privacyLink">Privacy</a>
        </div>
    </footer>
    <script type="text/javascript" src="./lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="./lib/site/js/site.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#submit').click();
        });
    </script>
    </body>
</html>